
// 标准头部高度
$head-height: .86rem;

//颜色定义规范
$color-theme: #3190e8;
$color-green: #48ca38;
$color-dark: #333;
$color-light: #f1f1f1;
$color-light-d: #666;
$color-yellow: #ff9300;
$color-background: #f5f5f5;

//字体定义规范 1rem =50px;
$font-size-small-s: .2rem;
$font-size-small: .24rem;
$font-size-medium: .28rem;
$font-size-medium-x: .32rem;
$font-size-large: .36rem;
$font-size-large-x: .44rem;

// 文字不换号省略号
@mixin ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
// 去除inputbutton样式
@mixin clearBtn {
    background: none;
    outline: none;
    border: none;
}
// 宽高
@mixin wh($width,$height){
    width: $width;
    height: $height;
}

// flex
@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@mixin flex-all-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-align-center {
    display: flex;
    align-items: center;
}

// fixed 定位全屏
@mixin fixed-full-screen{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

//背景图
@mixin back-img($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}